@use "theme/utilities.scss";
@use "theme/global.scss";

@import url('https://fonts.googleapis.com/css?family=Raleway');
html {
   background-color: rgb(117, 158, 218);
}
body {
  background-color: rgb(117, 158, 218);
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  background-color: rgb(156, 206, 244);
  color: #2c3e50;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

/* Search */

.header {
  background-color: rgb(117, 158, 218);
  padding: 20px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: row;
}

input {
  background-color: rgb(117, 158, 218);
  color: #e1e9f0;
  width: auto;
  height: 30px;
  border: none;
  font-size: 20px;

}

.header .city-name {
margin-right: 170px;
}

.header .city-name h1 {
  font-size: 22px;
  color: white;
  margin: 10px;
  font-weight: 100;
}

.header .button .find-button {
  background-color: rgb(88, 121, 199);
  border: none;
  width: 210px;
  color: black;
  font-size: 17px;
  font-weight:100;
  padding: 20px 25px;
  text-transform: uppercase;
  border-radius: 3%;
}

// The current weather

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.current-weather__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.weather-icon {
    margin-top: 30px;

}
.weather-icon img {
  width: 160px;
  height: 160px;
}

.current-weather__name {
  margin: 10px 0;
  color: #e1e9f0;
}

.temperature {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.current-weather__temperature p {
  font-size: 24px;
   font-weight: bold;
  margin: 0;
}

.degree {
  font-size: 18px;
  margin: 15px 0 15px 15px;
}

.extra-info {
    display: flex;
  flex-direction: row;
  justify-content: center;

  margin-bottom: 30px;

}

.humidity, .pressure {
    display: flex;
    flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px; 
}

.current-weather__humidity p {
font-size: 20px;
    font-weight: bold;
      margin: 15px 15px 15px 0;
      
}

.current-weather__pressure p {
   font-size: 20px;
    font-weight: bold;
  margin: 15px; 
}

/* The weather over next 24 hours */

.app {
    height: auto;
}
.forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 10px 20px 10px;
}


.weather-icon-forecast {
    width: 70px;
    height: 70px;
    margin: 30px;
}

.forecast .forecast-item p {
  font-size: large;
}

/* Media Queries */

@media screen and (max-width: 510px) {
  .header {
    flex-direction: column;
  }

  .header .city-name {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .button {
    margin-top: 10px;
  }

  .forecast {
    flex-direction: column;
    align-items: center;
  }

  .forecast-item {
    margin: 10px 0;
  }
}





